html
  head
    title ToDo List
    link(rel="stylesheet" href="/styles.css")
  body
    h1 ToDo List
    table
      thead
        tr
          th Creator
          th Due Date
          th Assign To
          th Content
          th Done
      tbody
        each todo in todos
          tr
            td #{todo.creator}
            td= todo.due_date.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' })
            td #{todo.assign_to}
            td #{todo.content}
            td #{todo.done}
